body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.gender{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 64%;
    border: lightgray solid 2px;
    height: 50px;
}
.binnegender {
    display: flex;
    justify-content: start;

    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea,
select {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

label[for="female"],
label[for="male"]{
    margin: 16px 0 0 5px;
}

textarea {
    resize: vertical;
    height: 100px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

input[type="radio"], input[type="checkbox"] {
    margin: 10px;
    width: 20px;
}